@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px; /* You can adjust the width as needed */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(72, 0, 255); /* Color of the thumb */
}
